body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    text-align: center;
}

.tab-button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.tab-button:hover {
    background-color: #0056b3;
}

.content {
    display: none;
    margin-top: 20px;
}

.content ul {
    list-style-type: none;
    padding: 0;
}

.content li {
    background: #007BFF;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}
